/SimpleChatApp/obj
/SimpleChatApp/bin
/.vagrant/machines/spproto/virtualbox/action_provision
/.vagrant/machines/spproto/virtualbox/action_set_name
/.vagrant/machines/spproto/virtualbox/box_meta
/.vagrant/machines/spproto/virtualbox/creator_uid
/.vagrant/machines/spproto/virtualbox/id
/.vagrant/machines/spproto/virtualbox/index_uuid
/.vagrant/machines/spproto/virtualbox/private_key
/.vagrant/machines/spproto/virtualbox/synced_folders
/.vagrant/machines/spproto/virtualbox/vagrant_cwd
/.vagrant/rgloader/loader.rb
/.vs/SimpleChatApp/DesignTimeBuild/.dtbcache
/.vs/SimpleChatApp/v15/.suo
/.vs/SimpleChatApp/v15/Server/sqlite3/db.lock
/.vs/SimpleChatApp/v15/Server/sqlite3/storage.ide
/.vs/SimpleChatApp/v15/Server/sqlite3/storage.ide-shm
/.vs/SimpleChatApp/v15/Server/sqlite3/storage.ide-wal
/.vs/SimpleChatApp/v16/.suo
/.vs/SimpleChatApp/v16/Server/sqlite3/db.lock
/.vs/SimpleChatApp/v16/Server/sqlite3/storage.ide
/.vs/SimpleChatApp/v16/Server/sqlite3/storage.ide-shm
/.vs/SimpleChatApp/v16/Server/sqlite3/storage.ide-wal
